$font-family-sans-serif: 'Source Sans Pro', sans-serif;

:root {
  --bottom-sheet-max-width: 800px;
}

body,
html {
  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    font-size: 16px;
  }

  background-color: #fcf8f4 !important;
}

$dark: #164761;
$primary: #3730a3;
$success: #205c63;
$border-color: $dark;

@import 'node_modules/bootstrap/scss/bootstrap';

.overflow-y {
  overflow-y: auto;
}

.text-small {
  font-size: 0.8rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.day-forbidden {
  &:hover {
    cursor: no-drop;
  }
}

.cursor-hover:hover {
  cursor: pointer;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.chart-div {
  background-color: white;
  height: 15rem;
  padding: 20px;
  @extend .border;
  @extend .rounded;
}

.border-yip {
  border-color: darken($body-bg, 10) !important;
}

.table-fixed {
  table-layout: fixed;
}

.align-middle {
  vertical-align: middle;
}

.opacify {
  opacity: 0.5;
}

.mood-cell {
  transition: all 0.5s ease;
}

.in-future {
  background-color: #f5f9fc !important;
}

.bottom-sheet {
  transition: background-color 0.4s ease;
  color: var(--bottom-sheet-text-color);
}

.bottom-sheet-backdrop {
  z-index: 1021;
}

.nav-link.active {
  font-weight: 600;
}
