$font-family-sans-serif: 'Source Sans Pro', sans-serif;

body, html {
  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    font-size: 16px;
  }

  background-color: #bbdde7 !important;
}

@import 'node_modules/bootstrap/scss/bootstrap';

.overflow-y {
  overflow-y: auto;
}

.text-small {
  font-size: 0.8rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.day-forbidden {
  &:hover {
    cursor: no-drop
  }
}

.cursor-hover:hover {
  cursor: pointer;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.chart-div {
  background-color: white;
  height: 15rem;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

.border-yip {
  border-color: darken($body-bg, 10) !important;
}

.table-fixed {
  table-layout: fixed;
}

.align-middle {
  vertical-align: middle;
}
